.vscode/settings.json
Logico/Enunciados/PdepJM 2024 - Parcial Lógico - Pókemon.pdf
Logico/Enunciados/El Kioskito (2020).pdf
Logico/Enunciados/Parcial de Lógico - Enunciado - Viernes Noche - 18_8_2017.pdf
